*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #181616;

}

main{
    max-width:650px;
    margin: 0 auto;
}

.total-list{
    color: #1d1e1f;
    /* text-decoration: none; */
    margin: 10px 10px 0 0;
    cursor: pointer;
}
.after-ham{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    list-style: none;
    font-size: large;
    position: relative;
    /* left: -50vw; */
}
.container{
    display: flex;
    height: 400px;
}
.hambrger{
    height: 22px;
    width: 22px;
}

.list{
    display: flex;
    justify-content:end;
    gap: 22px;
    list-style: none;
    color: aliceblue;
    cursor: pointer;
}
.l1{
    background-color: blue;
    height: 20px;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}
.hi-img{
    display: flex;
    gap: 4px;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}
.headings{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}
.left-side{
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right-side{
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-hi{
    color: aliceblue;
}
.h-mark{
    color: aliceblue;

}
.h-dev{
    color: yellow;
    
    
}
.first,.second{
    display: flex;
    align-items: center;
    justify-content:center;
    column-gap: 20px;
}

.computer-img{
    border-image: none;

}
.h-w-c{
    height: 340px;
    width: 350px;
}
.pr-heading{
    display: flex;
    justify-content: center;
}
.project{
    color: aliceblue;
    border-bottom: 5px solid rgb(38, 19, 213);
}
.four-pics{
    color: aliceblue;
    margin-top: 4vh;
}
.i-1{
    height: 270px;
    width: 270px;
}
.i-2{
    height: 270px;
    width: 270px;
}
.p-1{
    margin-left:7vw;
}
.p-2{
    text-align: center;
}

.second{
    margin-top: 2vh;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    flex-direction: column;
}

.contact{
    font-size: 25px;
    color: aliceblue;
    border-bottom: 5px solid rgb(38, 19, 213);
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    
}
.social {
    list-style: none;
    margin-top: 10px;
    /* height: 20px;
    width: 20px; */
}
.github{
    height: 20px;
    width: 20px;
}
.linkdin{
    height: 15px;
    width: 20px;
    margin-left: 1vw;
}
.outlook{
    height: 20px;
    width: 30px;
}
.links ul li a{
    text-decoration: none;
    color: white;

}

@media only screen and (min-width:769px)  {
    
    .hambrger{
        display: none;
    }

}
@media screen and (max-width:768px) {
    .hambrger{
        display: block;
        margin: 15px;
    }
    

    .list{
        display: none;
    }
    .hi-img{
        display: flex;
        flex-direction: column;
    }
    .hi-img img{
        display: flex;
        margin: auto;
    }
    .left-side{
        display: flex;
    }
    .container{
        display: flex;
        /* font-size:2px ; */
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 150px;
    }
    .h-w-c {
        display: flex;
        flex-direction: column;

    }
    .left-side{
        text-align: center;
    }
}

@media screen and (max-width :768px) {
    .first{
        display: flex;
        flex-direction: column;
    }
    .second{
        display: flex;
        flex-direction: column;
    }
    .p-1{
        text-align:center;
        margin-left:-2vw;
    }
}